:root{
    --fonte-titulo: 'DotGothic16', sans-serif;
    --fonte-corpo: 'PT Serif', serif;

    --cor-game-verde:#05c46b;
    --cor-game-vermelho:#ff3f34;
    --cor-game-amarelho:#ffd32a;
    --cor-game-azul: #3c40c6;
    --cor-borda:#1e272e;


    /*COR BACKGROUND*/

    --cor-background-one:#0be881;
    --cor-background-two:#d2dae2;
    --cor-background-three:#485460;
    --cor-background-four:#34e7e4;




}

.main--title{

    font-family: var(--fonte-titulo);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.main--container{
    display: flex;
    
    height: 500px;
    width: 100%;
    max-width: 330px;
    align-items: center;
    justify-content: center;
    margin: auto ;
    flex-direction: column;

    /*borda*/

    border: 8px solid var(--cor-borda);    
    border-radius: 10px;
    box-shadow: -40px 52px 95px -34px rgba(0,0,0,0.55);
    -webkit-box-shadow: -40px 52px 95px -34px rgba(0,0,0,0.55);
    -moz-box-shadow: -40px 52px 95px -34px rgba(0,0,0,0.55);

    /*background*/

    background: linear-gradient(45deg,var(--cor-background-one),var(--cor-background-two),var(--cor-background-three),var(--cor-background-four));
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
    
    


}

/*ANIMAÇÃO BACKGROUND CARD*/

@keyframes colors{

    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}








/*CARDS GAME*/

.main--game{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 310px;
    position: relative;
   
}


.card-game{
    border: 5px solid black;
    width: 100%;
    max-width: 130px;
    height: 100%;
    height: 130px;

}

.main--top-left{
    background-color: var(--cor-game-verde);
    border-top-left-radius: 100% ;
    opacity: 0.6;
    cursor: pointer;    
}

.main--top-left:hover{
    opacity: 1;
    box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);
    -webkit-box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);
    -moz-box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);
}

.cardPiscandoVerde{
  background-color: var(--cor-game-verde);
    opacity: 1;
    cursor: pointer;   
    box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);
    -webkit-box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);
    -moz-box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);
}

.main--top-rigth{
    background-color: var(--cor-game-vermelho);
    border-top-right-radius: 100%;
    opacity: 0.6;
    cursor: pointer;    
}
.main--top-rigth:hover{
    opacity: 1;
    box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);
    -webkit-box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);
    -moz-box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);
}

.cardPiscandoVermelho{
  background-color: var(--cor-game-vermelho);
    opacity: 1;
    cursor: pointer;   
    box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);
    -webkit-box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);
    -moz-box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);
}


.main--bottom-rigth{
    background-color: var(--cor-game-azul);
    border-bottom-right-radius: 100%;
    opacity: 0.6;
    cursor: pointer;    
}

.main--bottom-rigth:hover{
    opacity: 1;    
    box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);
    -webkit-box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);
    -moz-box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);
}

.cardPiscandoAzul{
    opacity: 1;
    cursor: pointer;   
    box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);
    -webkit-box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);
    -moz-box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);
}

.main--bottom-left{
  background-color: var(--cor-game-amarelho);
  border-bottom-left-radius: 100%;
  opacity: 0.6;
  cursor: pointer;    
}
.main--bottom-left:hover{
  opacity: 1;
  box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);
  -webkit-box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);
  -moz-box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);

}

.cardPiscandoAmarelo{
  opacity: 1;
  cursor: pointer;   
  box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);
  -webkit-box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);
  -moz-box-shadow: -1px 0px 37px 17px rgba(255,255,255,0.75);
}





/*BUTTON INCIAR*/

.main--neon-bt {

    position: relative;  
    display: inline-block;  
    padding: 10px 20px;  
    color: #0c0c0c;  
    font-size: 16px;  
    text-decoration: none; 
    text-transform: uppercase;  
    overflow: hidden;  
    transition: 0.2s;  
    margin-top: 40px;  
    letter-spacing: 4px;
    font-family: var(--fonte-corpo);
    cursor: pointer;    
  }
  
   
  
  .main--neon-bt:hover {
    
  
    background: var(--cor-borda);

    color: #fff;
  
    border-radius: 5px;
  
    box-shadow: 0 0 5px var(--cor-borda),
  
                0 0 25px var(--cor-borda),
  
                0 0 50px var(--cor-borda),
  
                0 0 100px var(--cor-borda);
  
  }
  
   
  
   
  
  /*animação do span para criar linhas*/
  
   
  
   
  
  .main--neon-bt span {
  
    position: absolute;
  
    display: block;
  
  }
  
   
  
   
  
  /*span 1*/
  
  .main--neon-bt span:nth-child(1) {
  
    top: 0;
  
    left: -100%;
  
    width: 100%;
  
    height: 2px;
  
    background: linear-gradient(90deg, transparent, var(--cor-borda));
  
    animation: btn-anim1 1s linear infinite;
  
  }
  
   
  
  @keyframes btn-anim1 {
  
    0% {
  
      left: -100%;
  
    }
  
    50%,100% {
  
      left: 100%;
  
    }
  
  }
  
   
  
  /*span 2*/
  
  .main--neon-bt span:nth-child(2) {
  
    top: -100%;
  
    right: 0;
  
    width: 2px;
  
    height: 100%;
  
    background: linear-gradient(180deg, transparent, var(--cor-borda));
  
    animation: btn-anim2 1s linear infinite;
  
    animation-delay: .25s
  
  }
  
   
  
  @keyframes btn-anim2 {
  
    0% {
  
      top: -100%;
  
    }
  
    50%,100% {
  
      top: 100%;
  
    }
  
  }
  
   
  
   
  
  /*span 3*/
  
   
  
  .main--neon-bt span:nth-child(3) {
  
    bottom: 0;
  
    right: -100%;
  
    width: 100%;
  
    height: 2px;
  
    background: linear-gradient(270deg, transparent, var(--cor-borda));
  
    animation: btn-anim3 1s linear infinite;
  
    animation-delay: .5s
  
  }
  
   
  
  @keyframes btn-anim3 {
  
    0% {
  
      right: -100%;
  
    }
  
    50%,100% {
  
      right: 100%;
  
    }
  
  }
  
   
  
  /*span 4*/
  
   
  
  .main--neon-bt span:nth-child(4) {
  
    bottom: -100%;
  
    left: 0;
  
    width: 2px;
  
    height: 100%;
  
    background: linear-gradient(360deg, transparent, var(--cor-borda));
  
    animation: btn-anim4 1s linear infinite;
  
    animation-delay: .75s
  
  }
  
   
  
  @keyframes btn-anim4 {
  
    0% {
  
      bottom: -100%;
  
    }
  
    50%,100% {
  
      bottom: 100%;
  
    }
  
  }
/*CONTEINER JOGADOR*/
.main--container-player{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

  /*NOME JOGADOR*/



.main--player-name{

    font-family: var(--fonte-corpo);
    text-align: left;

    margin-top: -55px;
    width: 80%;

    font-size: 1.5rem;

    /*BACKGROUND DO TEXTO*/

    background: linear-gradient(45deg,#141E27,#141E27,#203239, #EEEDDE, #E0DDAA);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    
}

/*CONTAINER NIVEL*/

.main--container-level{
    border: 2px solid black;
    width: 30px;
    height: 30px;

    border-radius: 100%;
    text-align: center;
    margin-top: -50px;
    display: none;
}

.main--player-counter{
    margin-top: 3px;
    


}


  /*DISPLAY CENTRO*/
 
.main--center{
    position: absolute;
    width: 100%;
    max-width: 120px;
    height: 120px;
    background-color: aliceblue;

    border: 3px solid black;
    
    top: 70px;
    
    border-radius: 100%;

    font-family: var(--fonte-corpo);
  



}

.main--center-information{
    position: absolute;  
    top:15px;
    left:35px;

    font-size: 1.2rem;

}


/*DISPLAY MODAL*/

.container--modal{

  width: 300px;
  height: 160px;
  

  border-radius: 15px;

  position: absolute;

  top: 7vw;
  left:50vh;
  
  
  

  border: 2px solid black;
  background: linear-gradient(45deg,#7f8fa6,#85F4FF,#79B4B7);
  background-size: 300% 300%;
  animation: colors 15s ease infinite;

  box-shadow: 4px 10px 67px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 4px 10px 67px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 10px 67px 0px rgba(0,0,0,0.75); 

  

  opacity: 0;
  transition: all 300ms ease-out;  
  transform: translateY(-25%);
  z-index: 10;


}

.container--modal-opacity{

  opacity: 1;  
  transform: translateY(-50%);
  
}

/*HEADER MODAL*/

.modal--header{
  font-family: var(--fonte-corpo);


  display: flex;
  justify-content: space-around;  
  margin-top: 15px;
  margin-bottom: 10px;

}

.modal--header-texto{

  width: 90%;
  text-align: center;
  font-size: 1.2rem;
  
}

.modal--header-vazio{
  
  color: red;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-family: var(--fonte-corpo);
  margin-bottom: 10px;
  display: none;
  

}

.modal--header-fechar{

  width: 5%;
  height: 18px;
  margin-top: -10px;
  padding-left: 3px;
  font-size: 0.7rem;
  cursor: pointer;

  
  
  background-size: 300% 300%;
  animation: colors 15s ease infinite;

  border-radius: 50%;
}

.modal--label{
  font-family: var(--fonte-corpo);
  margin-left: 5px;

}

.modal--input{

  font-family: var(--fonte-corpo);
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
  height: 30px;
  padding-left: 10px;
  font-size: 1.2rem;

  
  

}
/*BUTTON MODAL*/

.modal--container-button{
  text-align: center;
  
}

.modal--button{

  text-transform: uppercase;
  font-family: var(--fonte-corpo);
  font-weight: 800;
  margin-top: 10px;
  width: 50%;
  height: 25px;
  border-radius: 10px ;

  background-color: #74959A;
  color: #fff;
  cursor: pointer;

  transition:  background 0.3s;

}
.modal--button:hover{

  
  color: #0c0c0c;
  transition:  background 0.3s

}
.modal--button:active{
  
  color: #fff;;
  
}

.mask{
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  pointer-events: none;
  transition:  opacity 0.3s
}

.container--modal.container--modal-opacity~.mask{
  pointer-events: initial;
  opacity: 0.5;
  transition:  opacity 0.3s




}


















